/* * {
    outline: deeppink 1px solid;
} */

html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

/* секция меню */

.header {
    background-color: #FFFFFF;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    padding: 0 10px;
    margin: 0 auto;
}

.navbar {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    height: 79px;
}

/* .logo__company {
    display: flex;
    gap: 0 20px;
    outline: rgb(148, 153, 0) 1px solid;
} */

.logo {
    justify-self: center;
}

.company  {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #151515;
    justify-self: start;
}

.navbar__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 0 20px;
}

.menu__list {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #151515;
    justify-self: center;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #1C78FF;
    text-decoration: underline;
}

.button__nav {
    font-family: "Inter", sans-serif;
    background-color: #1C78FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 16px 32px;
    width: 148px;
    height: 51px;
    font-size: 16px;
    grid-column: 5/6;
}

.button__nav:hover {
    background-color: #42484b;
    color: #FFFFFF;
}

.mob-menu{
    display: none;
}
.strip{
    width: 80%;
    height: 3px;
    background-color: #2e373c;
}
/* главный экран */

.section__top {
    background-color: #E7F0FE;
    display: grid;
}

.top__container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 20px;
    grid-template-areas:
        "title image"
        "text image"
        "button points";
    justify-items: center;
    align-items: center;
}

.title {
    font-family: "Space Grotesk", sans-serif;
    color: #2e373c;
    font-weight: 600;
    font-size: 5em;
    grid-area: title;
    position: relative;
    left: 80px;
}

.text__top {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 144%;
    font-family: "Inter", sans-serif;
    color: #42484b;
    display: grid;
    grid-area: text;
    position: relative;
    bottom: 55px;
    left: 5px;
    width: 420px
}

.button__top {
    width: 211px;
    height: 58px;
    padding: 16px 32px;
    font-family: "DM Sans", sans-serif;
    background-color: #1C78FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 1.125em;
    grid-area: button;
    position: relative;
    bottom: 115px;
    right: 95px;
}

.button__top:hover {
    background-color: #FFFFFF;
    color: #1C78FF;
}

.image__top {
    border-radius: 10px;
    width: 100%;
    grid-area: image;
    z-index: 1;
    position: relative;
    top: 23px;
}

.points {
    grid-area: points;
    position: relative;
    bottom: 150px;
    left: 270px;
}

/* секция с брендами */

.section__brands {
    background-color: #FFFFFF;
}

.brands__container {
    max-width: 1200px;
    padding: 80px 0px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title title"
        "text text";
    justify-items: center;
    align-items: center;
}

.title__brands {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-size: 3.5em;
    line-height: 118%;
    text-align: center;
    color: #151515;
    grid-area: title;
}

.text__brands {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 140%;
    text-align: center;
    color: #151515;
    grid-area: text;
    position: relative;
    bottom: 35px;
    width: 45%;
}

.content__brands {
    padding: 0px 6px;
    height: 101px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.image__brands {
    width: 100%;
    height: 100%;
    border: 1px solid #151515;
}

/* фотогалерея */

.section__gallery {
    background-color: #151515;
    color: #ffffff;
}

.gallery__container {
    max-width: 1200px;
    height: 2317px;
    padding: 0 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
    gap: 10px 20px;
    justify-items: center;
    align-items: center;
}

.title__gallery {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 104%;
    color: #f3f7fe;
    justify-self: start;
}

.text__gallery {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
}
.gallery__container a {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 136%;
    letter-spacing: -0.01em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

.item {
    display: flex;
    flex-direction: column;
}

.item img {
    width: 560px;
    height: 550px;
}

.item p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #fff;

}

.item a {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 136%;
    letter-spacing: -0.01em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

/* секция отзывов */

.section__reviews {
    background-color: #E7F0FE;
    padding-top: 120px;
}

.reviews__container {
    max-width: 1200px;
    height: 842px;
    padding: 0 10px;
    margin: 0 auto;
}

.title__reviews {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 96%;
    text-align: center;
    color: #151515;
    margin: 0;
}

.text__reviews {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #151515;
}

.content__reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
    gap: 10px 20px;
    justify-items: center;
    align-items: center;
}

.review-1, .review-2 {
    border-radius: 10px;
    padding: 60px 30px;
    width: 461px;
    height: 341px;
    box-shadow: 0 4px 200px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    position: relative;
    z-index: 1;
}

.quotation__marks {
    position: relative;
    top: 30px;
    right: 10px;
}

.review-1 p, .review-2 p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #151515;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 109%;
    color: #000;
    position: relative;
    left: 80px;
    bottom: 80px;
}
.owner {
    position: relative;
    left: 80px;
    bottom: 95px;
}

.circles {
    display: block;
    margin: 0 auto;
    padding: 50px;
}

/* подвал */

.footer {
    background-color: #151515;
    color: #ffffff;
}

input {
    border-radius: 5px;
    width: 277px;
    height: 54px;
}

.button__footer {
    background-color: #1C78FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 72px;
    height: 54px;
}

.button__footer:hover {
    background-color: #42484b;
}
.section__footer {
    background-color: #1C78FF;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 107%;
    color: #fff;
}

.content__footer {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline;
    margin-right: 10px;
}

@media screen and (max-width: 945px) {
    .navbar__wrapper{
        display: none;
    }
    
    .mob-menu{
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #FFFFFF;
        border: none;
        padding: 0;
    }

    .navbar{
        justify-items: end;
    }

    .container {
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .container {
        padding: 0;
    }
}

@media screen and (max-width: 1024px){
    .image__top {
        width: 80%;
        position: relative;
        bottom: 65px;
    }
    .points {
        width: 22%;
        position: relative;
        bottom: 103px;
        left: 225px;
    }
    .title {
        font-size: 4em;
        position: relative;
        top: 7px;
    } 

    .text__top {
        font-size: 1em;
        position: relative;
        left: 44px;
        bottom: 38px;
        width: 296px;
    }

    .button__top {
        position: relative;
        left: 3px;
        bottom: 70px;
    }
}

@media screen and (max-width: 768px){
    .title {
        font-size: 3em;
        position: relative;
        top: 7px;
        left: 44px;
    } 

    .text__top {
        font-size: 1em;
        position: relative;
        left: 44px;
        bottom: 38px;
        width: 296px;
    }

    .button__top {
        position: relative;
        left: 2px;
        bottom: 61px;
        width: 70%;
    }

    .image__top {
        width: 80%;
        position: relative;
        right: 17px;
        top: 3px;
    }

    .points {
        width: 22%;
        position: relative;
        bottom: 116px;
        left: 140px;
    }
}

@media screen and (max-width: 425px){
    .title {
        font-size: 3em;
        position: relative;
        top: -60px;
        left: -28px;
        width: 70%;
    } 

    .text__top {
        font-size: 1em;
        position: relative;
        left: -20px;
        top: -96px;
        width: 296px;
    }

    .button__top {
        position: relative;
        left: -26px;
        top: -92px;
        width: 70%;
    }

    .points {
        width: 22%;
        position: relative;
        bottom: 5px;
        left: 160px;
    }

    .image__top {
        width: 85%;
        position: relative;
        top: 53px;
        left: 2px;
    }

    .top__container {
        grid-template-areas:
        "image"
        "points"
        "title"
        "text"
        "button";
    }
}

@media screen and (max-width: 375px){
    .title {
        font-size: 3em;
        position: relative;
        top: -60px;
        left: -24px;
        width: 70%;
    } 

    .text__top {
        font-size: 1em;
        position: relative;
        left: -1px;
        top: -96px;
        width: 296px;
    }

    .button__top {
        position: relative;
        left: -23px;
        top: -92px;
        width: 70%;
    }

    .points {
        width: 22%;
        position: relative;
        bottom: 0px;
        left: 140px;
    }

    .image__top {
        width: 85%;
        position: relative;
        top: 53px;
        left: 2px;
    }

    .top__container {
        grid-template-areas:
        "image"
        "points"
        "title"
        "text"
        "button";
    }
}

@media screen and (max-width: 320px){
    .title {
        font-size: 3em;
        position: relative;
        top: -49px;
        left: -20px;
        width: 70%;
    } 

    .text__top {
        font-size: 1em;
        position: relative;
        left: 11px;
        top: -94px;
        width: 268px;
    }

    .button__top {
        position: relative;
        left: -16px;
        top: -92px;
        width: 70%;
    }

    .points {
        width: 22%;
        position: relative;
        bottom: -10px;
        left: 120px;
    }

    .image__top {
        width: 85%;
        position: relative;
        top: 53px;
        left: 2px;
    }

    .top__container {
        grid-template-areas:
        "image"
        "points"
        "title"
        "text"
        "button";
    }
}

@media screen and (max-width: 1024px) {
    .title__brands {
        font-size: 3em;
    }

    .text__brands {
        font-size: 1em;
    }

    .image__brands > img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .title__brands {
        font-size: 2.5em;
    }

    .text__brands {
        width: 60%;
    }

    .image__brands > img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .title__brands {
        font-size: 2em;
        width: 70%;
    }

    .text__brands {
        font-size: 1em;
        width: 86%;
    }

    .content__brands {
        display: flex;
        flex-direction: column;
    }
    .image__brands > img {
        width: 95%;
    }
}